.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}

.about-div {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 2px solid #7047A5;
    border-radius: 20px;
    background-color: #11111199;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    width: 60vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.about-div h6 {
    font-weight: 400;
    font-size: 3.75rem;
    letter-spacing: 1rem;
    /*border-bottom: 1px solid #7047A5;*/
    color: gold;
}

.about-div p{
    font-size: 1.45rem;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .about-div h6 {
        font-size: 2.65rem;
        letter-spacing: 0.75rem;
    }

    .about-div p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1024px) {
    .about-div {
        width: 80vw;
    }
}

@media screen and (max-width: 768px) {
    .about-div {
        width: 90vw;
        padding: 15px;
    }
    .about-div h6 {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        text-align: center;
    }
}