.contact{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    color: white;
    text-align: center;
    align-items: baseline;
    margin-top: 2rem;
    user-select: none;
}

.contact>*{
    flex: 10rem;
}

.img-container{
    height: 10rem;
    width: 10rem;
    border-radius: 10rem;
    background-position: center;
    background-size: cover;
    margin: 0.2rem;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.profile>*{
    padding: 0.1rem;
}

.contact-name{
    font-weight: 600;
}

.q-form{
    width: 60%;
    margin: auto;
}

.q-form{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.q-form label{
    font-weight: 600;
}

.q-form input{
    /* width: 100%; */
    height: 2rem;
    font-family: 'Poppins', sans-serif;
    padding-inline: 1rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

.q-form textarea{
    /* width: 100%; */
    font-family: 'Poppins', sans-serif;
    padding-inline: 1rem;
    padding-block: 0.2rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

.query{
    width: 100%;
    margin-bottom: 5rem;
}

.q-form-submit{
    width: 100%;
    margin-top: 1rem;
}

.q-form-submit button{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding-inline: 1rem;
    margin: auto;
    border: solid black 1px;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

