.landing-page {
    height: 100vh;
    position: relative;
}

Link {
    text-decoration: none;
}

.page {
    padding-inline: 9vw;
    background-position: center top;
    background-size: contain;
    background-repeat: repeat;
    width: auto;
    padding-bottom: 5rem;
}

.navbar {
    width: 100%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    gap: 3vw;
}

.nav-list li {
    cursor: pointer;
    color: white;
}

.nav-container {
    padding: 1rem;
    padding-inline: 8vw;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-logo {
    margin-right: auto;
}

.nav-logo img {
    height: 5rem;
    width: auto;
    cursor: pointer;
}

label.hamburger {
    display: block;
    background: transparent;
    width: 35px;
    height: 60px;
    position: relative;
    cursor: pointer;
}

input#hamburger {
    display: none
}

.line {
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    transition: 0.5s;
    border-radius: 5px;
}

/* steps of 12 are optional, could also be 10, 13 etc */
.line:nth-child(1) {
    top: 10px;
}

.line:nth-child(2) {
    top: 20px;
}

.line:nth-child(3) {
    top: 30px;
}

/* translateY must be same as */
#hamburger:checked+.hamburger .line:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

#hamburger:checked+.hamburger .line:nth-child(2) {
    opacity: 0;
}

#hamburger:checked+.hamburger .line:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

.landing-text-container {
    position: absolute;
    top: 32%;
    left: 25vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.landing-text-container img {
    width: 30rem;
    height: auto;
}

.landing-text-container button {
    font-family: 'Poppins', sans-serif;
    padding: 0.2rem;
    padding-inline: 5rem;
    background-color: transparent;
    color: white;
    border: 1px solid #1F94FC;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}

.landing-text-container button:hover {
    background-color: white;
    color: #111027;
}

.dummy {
    height: 100%;
}

.ellipse1 {
    position: absolute;
    top: 200vh;
    left: -50vw;
    width: 2rem;
    height: 2rem;
    transform: rotate(-109.984deg);
    flex-shrink: 0;
    z-index: -1;
}

.ellipse1 img {
    border-radius: 100rem;
    background: #7EB1BE;
    filter: blur(1000px);
    opacity: 0.3;
}

.ellipse2 {
    right: 0;
    bottom: 0;
    position: absolute;
    /* width: 100rem;
    height: 90rem; */
    transform: rotate(-0.85deg);
    z-index: -1;
}

.ellipse2 img {
    position: absolute;
    height: 40rem;
    bottom: -20rem;
    right: -10rem;
    border-radius: 999.52px;
    opacity: 1;
    background: linear-gradient(90deg, #EBEEFD 0%, #547EE1 48.96%, #3A6FEC 91.67%);
    filter: blur(100rem);
    opacity: 0.15;
}

.para {
    position: relative;
}

.ellipse3 {
    position: absolute;
    height: 60rem;
    bottom: -120%;
    left: -35rem;
    border-radius: 999.52px;
    opacity: 1;
    background: white;
    filter: blur(1000rem);
    opacity: 0.1;
    z-index: -1;

}

.ellipse4 {
    position: absolute;
    height: 20rem;
    bottom: -10%;
    left: 40%;
    border-radius: 999.52px;
    opacity: 1;
    background: #7EB1BE;
    filter: blur(1000rem);
    opacity: 0.5;
    z-index: -1;
    overflow-x: hidden;
    display: none;
}

.ellipse4 img {
    overflow-x: hidden;
}

.process {
    position: relative;
}

.main {
    padding-inline: 9vw;
    background-position: center top;
    background-size: contain;
    background-repeat: repeat-y;
    height: 100%;
}

.heading {
    color: #1F94FC;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    width: 100%;
    gap: 3vw;
}

.card {
    border: 1px solid rgba(28, 125, 212, 0.70);
    background: rgb(8, 7, 17);
    background: linear-gradient(90deg, rgba(18, 17, 40, 1) 0%, rgb(31, 39, 53) 100%);
    box-shadow: 3px 6px 12px 0px rgba(41, 51, 72, 0.70);
    border-radius: 2vw;
    padding: 3.5vw;
}

.card h1 {
    color: #1F94FC;
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 1vw;
}

.card p {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.road-to-container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
}

.text1 {
    color: #4CBAD6;
    margin-top: 0;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right {
    padding: 2rem;
}

.right img {
    width: 100%;
}

.glow {
    height: 0;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glow img {
    height: 5rem;
    filter: blur(0.15rem);
}

.text3 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.ham {
    display: none;
}

.card-mobile {
    display: none;
}

.ellipse2 img {
    overflow: hidden;
}

.ellipse1 {
    overflow: hidden;
}

.ellipse2 {
    overflow: hidden;
}

.right-mobile {
    display: none;
}

.clocktower-container img,
svg {
    position: absolute;
    bottom: 0;
    right: 2rem;
    height: 80%;
    /* height: 60%; */
}

.clocktower-container svg{
    opacity: 0;
}

@media only screen and (max-width: 1300px) {
    .landing-text-container img {
        width: 20rem;
    }
}

@media only screen and (max-width: 1110px) {
    .nav-list {
        gap: 2vw;
    }
}

@media only screen and (max-width: 1000px) {
    .clocktower {
        display: flex;
        align-items: bottom;
        justify-content: center;
    }

    .clocktower-container img,
    svg {
        position: absolute;
        left: 50%;
        height: 50%;
        transform: translate(-50%, 0);
    }

    .nav-container {
        padding-block: 1rem;
    }

    .landing-text-container {
        width: 100%;
        left: 0;
        top: 20vh;
    }

    .landing-text-container img {
        width: 15rem;
    }

    .landing-text-container button {
        padding-inline: 3rem;
    }

    .nav-logo img {
        height: 3.5rem;
    }

    .nav-list {
        display: none;
    }

    .ham {
        display: block;
    }

    .card span>p,
    a {
        display: inline-block;
    }

    .card-mobile {
        display: block;
    }

    .card-desktop {
        display: none;
    }

    .read-more {
        font-size: 1.2rem;
        cursor: pointer;
        color: #1F94FC;
        font-family: Poppins;
        padding-block: 0.5rem;
    }

    .cards-container {
        grid-template-columns: auto;
    }

    .cards-container p {
        font-size: 1.2rem;
    }

    .heading {
        font-size: 2rem;
    }

    .text {
        font-size: 1.2rem;
    }

    .text1 {
        font-size: 1.2rem;
    }

    .right {
        display: none;
    }

    .right-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 100vw; */
    }

    .right-mobile img {
        margin: auto;
        /* width: 100%; */
        margin: 1rem;
        width: 50vw;
        max-width: 20rem;
    }

    .left {
        /* width: 100%; */
        text-align: justify;
    }

    .road-to-container {
        grid-template-columns: 1fr;
    }
}