iframe {
    height: 60svh;
    width: 50%;
    margin: auto;
}

.pdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: calc(5rem - 60px);
}

.download {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 14px 36px;

  background: rgba(0, 0, 0, 0.45);
  color: #fff;

  border: 2px solid #7047A5;
  border-radius: 10px;

  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  text-transform: uppercase;

  text-decoration: none;
  cursor: pointer;

  backdrop-filter: blur(4px);

  transition: all 0.3s ease;
}

.download:hover {
  border-color: gold;
  color: gold;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.25);
  transform: translateY(-2px);
}



.download:focus {
  outline: none;
}

@media only screen and (max-width: 1000px) {
    iframe {
        height: 60svh;
        width: 100%;
        margin: auto;
    }

}
.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 20px 0;
}

.tab-btn {
  flex: 1 1 20%;
  width: fit-content;

  padding: 14px 20px;

  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  color: #fff;
  background: rgba(0, 0, 0, 0.45);

  border: 2px solid #7047A5;
  border-radius: 10px;

  backdrop-filter: blur(4px);

  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-btn:hover {
  color: gold;
  border-color: gold;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
}

.tab-btn.active {
  background: rgba(112, 71, 165, 0.25);
  border-color: gold;
  color: gold;
  box-shadow: 0 0 18px rgba(255, 215, 0, 0.25);
}


@media (max-width: 850px) {
  .tab-btn {
    flex: 1 1 45%;
  }
}