.testi-container {
    margin-top: 2rem;
    color: white;
    cursor: pointer;
    padding-inline: 5rem;
    padding-bottom: 3rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testi-content {
    border-radius: 1.25rem;
    border: 1px solid rgba(28, 125, 212, 0.70);
    background: linear-gradient(90deg, rgba(18, 17, 40, 1) 0%, rgb(31, 39, 53) 100%);
    box-shadow: 3px 6px 12px 0px rgba(41, 51, 72, 0.70);
    height: 100%;
    padding: 5rem;

}

.breaker{
    width: 40%;
    border-top: solid #1F94FC 4px;
    margin-block: 1rem;
}

.swiper-button-next,
    .swiper-button-prev{
        color: white;
    }

    .text5{
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
    }

@media only screen and (max-width: 900px) {
    .testi-container{
        padding: 0;
        padding-bottom: 2rem;

    }

    .text5{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }

    .testi-content{
        padding: 2rem;
    }
}